<div *ngIf="gameState == true" class="container">
  <div class="letters-container">
    <div class="letters">
      <p class="username" [ngClass]="{'not-actual-player': actualPlayer != selfName, 'actual-player': actualPlayer == selfName}">{{selfName}} ({{getSelfScore()}}pts)</p>
      <app-letter *ngFor="let letter of lettersOwned" class="letter" [letter]="letter" (click)="selectLetter(letter, player)"></app-letter>
    </div>
  </div>
  <table class="scrabble">
    <tr *ngFor="let array of map; let i = index">
      <td *ngFor="let case of array; let j = index">
        <app-case [case]="case" [x]="i" [y]="j" (click)="caseClicked(i, j, case)"></app-case>
      </td>
    </tr>
  </table>
  <div class="hud">
    <div>
      <table class="scores">
        <thead>
          <td>Player</td>
          <td>Points</td>
        </thead>
        <tr *ngFor="let score of this.scores; let i = index" [ngClass]="{'actual-player': this.actualPlayer == score.name}">
          <td>{{score.name}}</td>
          <td>{{score.score}}</td>
        </tr>
      </table>
    </div>
    <div class="buttons">
      <button class="done" (click)="done()" [disabled]="actualPlayer != selfName">Done</button>
      <button class="reset" (click)="reset()">Reset</button>
      <button class="swap" (click)="swap()">Swap</button>
    </div>
    <div class="letters-left">
      Letters left: {{lettersLeft}}
    </div>
  </div>
</div>

<div *ngIf="gameState == false" class="start">
  <ul>
    <li *ngFor="let player of this.scores">{{player.name}}</li>
  </ul>
  <button (click)="start()">Start</button>
</div>