<div class="container">
  <div class="letters-container">
    <div class="letters">
      <p class="actual-player">Player {{player + 1}} ({{scores[player]}}pts)</p>
      <app-letter *ngFor="let letter of lettersOwned[player]" class="letter" [letter]="letter" (click)="selectLetter(letter, player)"></app-letter>
    </div>
  </div>
  <table class="scrabble">
    <tr *ngFor="let array of map; let i = index">
      <td *ngFor="let case of array; let j = index">
        <app-case [case]="case" (click)="caseClicked(i, j, case)"></app-case>
      </td>
    </tr>
  </table>
  <div class="hud">
    <div>
      <table class="scores">
        <thead>
          <td>Player</td>
          <td>Points</td>
        </thead>
        <tr *ngFor="let score of this.scores; let i = index">
          <td>Player {{i + 1}}</td>
          <td>{{score}}</td>
        </tr>
      </table>
    </div>
    <div class="buttons">
      <button class="done" (click)="done($event)">Done</button>
      <button class="reset" (click)="reset()">Reset</button>
      <button class="swap" (click)="swap()">Swap</button>
    </div>
    <div class="letters-left">
      Letters left: {{letters.length}}
    </div>
  </div>
</div>